<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ip" value="192.168.131.22:11118"/>
    <add key="ver" value="1.0.0"/>
    <add key="ck" value="http://coos45.gotoip11.com/update/version.txt"/>
    <add key="up" value="http://coos45.gotoip11.com/update/upclient.zip"/> 
  </appSettings>
</configuration>